.top-bar{
    -fx-background-color: #d5d6f2;
}

.text-username-vide > Text {
    -fx-fill: #ff4949;
}

.text-username-invalid > Text {
    -fx-fill: #ff4949;
    -fx-font-size: 10px;
}

.side-bar{
    -fx-background-color: #D5D6F2;
}

.list-view .list-cell:even{
   -fx-background-color: white;
   -fx-text-fill: black;
}

.list-view .list-cell:odd{
   -fx-background-color: #D5D6F2;
   -fx-text-fill: black;
}

.list-cell:filled:hover{
   -fx-background-color: #D5D6F2;
   -fx-text-fill: black;
}

.sidebar-btn{
    -fx-background-color: transparent;
}

.sidebar-btn-icon{
    -fx-fill:grey;
}
.sidebar-btn-text{
    -fx-text-fill:grey;
}
.sidebar-btn:hover{
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: #2BBCF5;
    -fx-border-style:solid;
}
.sidebar-btn:hover .sidebar-btn-icon{
    -fx-fill:#2BBCF5;
}
.sidebar-btn:hover .sidebar-btn-text{
    -fx-text-fill:#2BBCF5;
}

.childpan{
    -fx-background-color:#F9F8FD;
}

.searchicon{
    -fx-border-color: #b3b4b9;
    -fx-border-width: 0px 0px 2px 0px;
}

.noit-icon{
    -fx-background-color:red;
    -fx-background-radius:100%;
}

.txtfld{
    -fx-background-radius:20px;
    -fx-background-color:white;
}

.txt-fld{
    -fx-background-radius:20px;
    -fx-background-color:#D5D6F2;
}
.txt-fld > Text{
    -fx-fill:white;
}

